body {
  background: #eef;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

#sky {
  margin-top: -60px;
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-filter: drop-shadow(0px 150px 10px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 150px 10px rgba(0, 0, 0, 0.2));
}
@-moz-document url-prefix() {
  #sky {
    filter: none;
  }
}
#sky div {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#sky .bird {
  -webkit-animation: fly 10000ms linear infinite;
          animation: fly 10000ms linear infinite;
}
#sky .bird .wind {
  position: absolute;
  left: 50%;
  width: 4px;
  height: 200px;
  margin-left: -2px;
  border-radius: 999px;
  overflow: hidden;
}
#sky .bird .wind:nth-child(1) {
  -webkit-transform: translate3d(110px, 136px, 4px) rotateY(90deg);
          transform: translate3d(110px, 136px, 4px) rotateY(90deg);
}
#sky .bird .wind:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 7, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 2960ms 4487ms linear infinite;
          animation: wind 2960ms 4487ms linear infinite;
}
#sky .bird .wind:nth-child(2) {
  -webkit-transform: translate3d(-54px, 134px, -65px) rotateY(90deg);
          transform: translate3d(-54px, 134px, -65px) rotateY(90deg);
}
#sky .bird .wind:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 17, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 1473ms 2767ms linear infinite;
          animation: wind 1473ms 2767ms linear infinite;
}
#sky .bird .wind:nth-child(3) {
  -webkit-transform: translate3d(178px, -87px, -73px) rotateY(90deg);
          transform: translate3d(178px, -87px, -73px) rotateY(90deg);
}
#sky .bird .wind:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 247, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 1825ms 1105ms linear infinite;
          animation: wind 1825ms 1105ms linear infinite;
}
#sky .bird .wind:nth-child(4) {
  -webkit-transform: translate3d(-78px, 117px, 24px) rotateY(90deg);
          transform: translate3d(-78px, 117px, 24px) rotateY(90deg);
}
#sky .bird .wind:nth-child(4)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 21, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 2111ms 4234ms linear infinite;
          animation: wind 2111ms 4234ms linear infinite;
}
#sky .bird .wind:nth-child(5) {
  -webkit-transform: translate3d(148px, 143px, -78px) rotateY(90deg);
          transform: translate3d(148px, 143px, -78px) rotateY(90deg);
}
#sky .bird .wind:nth-child(5)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 251, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 2914ms 3781ms linear infinite;
          animation: wind 2914ms 3781ms linear infinite;
}
#sky .bird .wind:nth-child(6) {
  -webkit-transform: translate3d(192px, -84px, 31px) rotateY(90deg);
          transform: translate3d(192px, -84px, 31px) rotateY(90deg);
}
#sky .bird .wind:nth-child(6)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 157, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 2431ms 4039ms linear infinite;
          animation: wind 2431ms 4039ms linear infinite;
}
#sky .bird .wind:nth-child(7) {
  -webkit-transform: translate3d(-184px, -100px, 42px) rotateY(90deg);
          transform: translate3d(-184px, -100px, 42px) rotateY(90deg);
}
#sky .bird .wind:nth-child(7)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 144, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 2992ms 4220ms linear infinite;
          animation: wind 2992ms 4220ms linear infinite;
}
#sky .bird .wind:nth-child(8) {
  -webkit-transform: translate3d(31px, -17px, -28px) rotateY(90deg);
          transform: translate3d(31px, -17px, -28px) rotateY(90deg);
}
#sky .bird .wind:nth-child(8)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 86, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 1654ms 1244ms linear infinite;
          animation: wind 1654ms 1244ms linear infinite;
}
#sky .bird .wind:nth-child(9) {
  -webkit-transform: translate3d(-193px, 56px, 32px) rotateY(90deg);
          transform: translate3d(-193px, 56px, 32px) rotateY(90deg);
}
#sky .bird .wind:nth-child(9)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 105, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 1304ms 1748ms linear infinite;
          animation: wind 1304ms 1748ms linear infinite;
}
#sky .bird .wind:nth-child(10) {
  -webkit-transform: translate3d(-99px, 47px, 16px) rotateY(90deg);
          transform: translate3d(-99px, 47px, 16px) rotateY(90deg);
}
#sky .bird .wind:nth-child(10)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 3, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 2789ms 4582ms linear infinite;
          animation: wind 2789ms 4582ms linear infinite;
}
#sky .bird .wind:nth-child(11) {
  -webkit-transform: translate3d(167px, -101px, 83px) rotateY(90deg);
          transform: translate3d(167px, -101px, 83px) rotateY(90deg);
}
#sky .bird .wind:nth-child(11)::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 206, 0.3);
  border-radius: 999px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-animation: wind 1013ms 1532ms linear infinite;
          animation: wind 1013ms 1532ms linear infinite;
}
#sky .bird_body {
  position: relative;
  width: 30px;
  height: 40px;
  background: #a57afd;
}
#sky .bird_head {
  position: absolute;
  top: -30px;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #7781d5;
  border-left: 15px solid transparent;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-20deg);
          transform: rotateX(-20deg);
}
#sky .bird_wing_left {
  position: absolute;
  left: -30px;
  height: 30px;
  border-right: 30px solid #b4c6df;
  border-bottom: 10px solid transparent;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-animation: wingLeft 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
          animation: wingLeft 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
#sky .bird_wing_left_top {
  position: absolute;
  left: -30px;
  border-right: 30px solid #7f94f9;
  border-bottom: 30px solid transparent;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-animation: wingLeft 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
          animation: wingLeft 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
}
#sky .bird_wing_right {
  position: absolute;
  left: 30px;
  height: 30px;
  border-left: 30px solid #b368f2;
  border-bottom: 10px solid transparent;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: wingRight 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
          animation: wingRight 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
#sky .bird_wing_right_top {
  position: absolute;
  border-left: 30px solid #88affb;
  border-bottom: 30px solid transparent;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: wingRight 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
          animation: wingRight 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
}
#sky .bird_tail_left {
  position: absolute;
  top: 40px;
  border-right: 30px solid transparent;
  border-top: 40px solid #afa1da;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotateX(-20deg);
          transform: rotateX(-20deg);
}
#sky .bird_tail_right {
  position: absolute;
  top: 40px;
  border-left: 30px solid transparent;
  border-top: 40px solid #84aed0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotateX(-20deg);
          transform: rotateX(-20deg);
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg);
            transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg);
            transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg);
            transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg);
            transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg);
  }
}
@-webkit-keyframes wingLeft {
  0% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
  100% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
  }
}
@keyframes wingLeft {
  0% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
  100% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
  }
}
@-webkit-keyframes wingRight {
  0% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
  }
  100% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
}
@keyframes wingRight {
  0% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
  }
  100% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
}
@-webkit-keyframes wind {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
@keyframes wind {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
